---
import { Picture } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import HighlightedText from "../components/HighlightedText.astro";
import profileImage from "../assets/megha-headshot.jpg";
---

<Layout title="About">
  <main class="my-8 flex grow flex-col gap-10">
    <div>
      <h1
        class="text-5xl font-semibold underline decoration-med decoration-wavy"
      >
        Megha Dhiman
      </h1>
    </div>
    <div class="flex flex-col gap-16 md:flex-row">
      <Picture
        class="max-h-80 rounded-lg object-cover shadow-lg sm:max-w-xs"
        src={profileImage}
        formats={["avif", "webp"]}
        widths={[400, 800]}
        sizes="(max-width: 374px) 200px, (min-width: 375px) 300px"
        fallbackFormat="png"
        alt="Megha Dhiman"
      />
      <div>
        <p>
          Hey <HighlightedText>Megha</HighlightedText> here :) I am an
          <HighlightedText>
            individual, group and couples therapist
          </HighlightedText>, practicing for 7 years. I use

          <HighlightedText>Relational Psychodynamic</HighlightedText>
           approach in my practice which is trauma informed and addressed by
          intersectionality. I work with people to explore their anxieties and
          adaptive behavioral patterns to help them be more self aware and
          internally liberated from their inhibitions and conflicts, enabling
          them to achieve the optimal <HighlightedText>
            personal development
          </HighlightedText> of which they are capable.
        </p>
        <p class="mt-3">
          This website is currently a work in progress :), if you have any
          further questions you can reach out to me on: <HighlightedText>
            openspaces077@gmail.com
          </HighlightedText>
        </p>
      </div>
    </div>
  </main>
</Layout>
