---
import { SEO } from "astro-seo";
import profileHeadshot from "../assets/megha-headshot.jpg";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={title}
      titleTemplate="Megha Dhiman | %s"
      titleDefault="Megha Dhiman"
      description="See how Megha can help with your mental health and wellbeing"
      openGraph={{
        basic: {
          title: "Megha Dhiman | Psychotherapist",
          type: "website",
          image: profileHeadshot.src,
        },
        optional: {
          description:
            "See how Megha can help with your mental health and wellbeing",
        },
      }}
      extend={{
        link: [{ rel: "icon", type: "image/svg+xml", href: "/favicon.svg" }],
        meta: [
          {
            name: "viewport",
            content: "width=device-width, initial-scale=1.0",
          },
          {
            name: "keywords",
            content:
              "Therapists in Bangalore, Therapists in Bengaluru, Therapists in Delhi, Therapist, Psychotherapist, Psychologist",
          },
        ],
      }}
    />
    <style is:global>
      /** Montserrat Regular **/
      @font-face {
        font-family: "Montserrat";
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        src:
          url("/fonts/Montserrat-Regular.woff2") format("woff2"),
          url("/fonts/Montserrat-Regular.woff") format("woff");
      }

      /** Montserrat Regular-Italic **/
      @font-face {
        font-family: "Montserrat";
        font-weight: 400;
        font-style: italic;
        font-display: swap;
        src:
          url("/fonts/Montserrat-Italic.woff2") format("woff2"),
          url("/fonts/Montserrat-Italic.woff") format("woff");
      }

      /** Montserrat SemiBold **/
      @font-face {
        font-family: "Montserrat";
        font-weight: 600;
        font-style: normal;
        font-display: swap;
        src:
          url("/fonts/Montserrat-SemiBold.woff2") format("woff2"),
          url("/fonts/Montserrat-SemiBold.woff") format("woff");
      }
    </style>
  </head>
  <body
    class="mx-6 my-0 flex min-h-screen flex-col bg-pale text-xl text-dark lg:mx-auto lg:my-0 lg:max-w-4xl lg:text-lg"
  >
    <slot />
    <footer class="py-4 lg:px-0 lg:pb-4">
      <span class="underline"
        >All rights reserved &#169; Megha Dhiman {
          new Date().getFullYear()
        }</span
      >
    </footer>
  </body>
</html>
